**/obj/
**/debug/
**/bin/
**/packages/
RowingSite/Rowing/.vs/Rowing/v14/.suo
RowingSite/Rowing/RowingSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RowingSite/Rowing/.vs/Rowing/v14/.suo
*.suo
RowingSite/Rowing/.vs/config/applicationhost.config
RowingSite/Rowing/RowingSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache